.form-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 3px 3px 8px black;
    margin-bottom: 100px;
   
}

.form-container input,
.form-container textarea,
.form-container button {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.form-container input:focus,
.form-container textarea:focus {
    outline: none;
    border-color: #77b68a;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.form-container textarea {
    resize: vertical;
}

.form-container button {
    background-color: #436d5f;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.form-container button:hover {
    background-color: #184633;
}

.containerForm{

    width: 90%;
    margin: auto;
    padding-top: 50px;
    border: 3px solid rgb(101, 192, 136);
    box-shadow: 1px 1px 10px 10px  rgb(114, 194, 146);
    margin-bottom: 30px;
    text-align: center;
    margin-top: 25px;
}
.form-container select{
    margin-bottom: 20px;
}