.checkBox{
    width: 95%;
    margin: auto;
    height: 300px;
    background-color: rgb(114, 194, 146);
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.checkBox p{
    color: white;
    text-align: center;
    padding-top: 10px;
}

.menucheck_box label{
    text-align: center;
    color: black;
    margin-top: 10px;
    width: 150px;
}
.menucheck_box{
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 3px 12px 10px;
    background-color:  rgb(37, 215, 191);
}

.menucheck_box1{
    display: flex;
    width: 95%;
    margin: auto;
    margin-top: 5px;
    border-radius: 20px;
    border: 3px solid black;
    box-shadow: 0px 3px 20px 12px;
    background-color: rgb(37, 215, 191);
}

.menu{
    width: 20%;
    height: 40px;
    padding-top: 20px;
    border-radius: 20px;
    margin: 7px;
    border: 2px solid black;
    box-shadow: 0px 0px 3px 3px;
    background-color: rgb(20, 157, 132);
}

